# Python
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
.venv/

# Env files
.env

# SQLite
app.db
*.db

# Test/coverage caches
.pytest_cache/
.coverage
htmlcov/

# Tooling caches
.mypy_cache/
.ruff_cache/
